//COLOR VARIABLES

$color-white: #fefefe;
$color-black: #000;

$color-dark-gray: #252934; //FOOTER
$color-dark-gray-1: #626262; //HEADERS
$color-dark-gray-3: #454758; //H2 HEADINGS

$color-light-gray-3: #EEEEEE;
$color-light-gray-2: #555f6b;
$color-light-gray-1: #b3b3b3; //TEXT COLOR

$color-pink: #911f54; //COPYRIGHT
$color-light-blue: #04c2c9;
$color-dark-blue: #00a1a7;

