.footer {
  @include section;
  position: relative;
  background-color: $color-dark-gray;
  height: 50rem;

  &__form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-dark-gray;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
  }

  &__form-header {
    font-size: 2.5rem;
    font-weight: 500;
    color: $color-white;
    text-transform: uppercase;
  }

  &__form-text,
  &__form-email,
  &__form-textarea,
  &__form-submit {
    padding: 1.5rem;
    font-family: inherit;
    font-size: 2rem;
    background-color: $color-dark-gray;
    color: $color-white;
    border: 1px solid $color-white;
    outline: none;
  }

  &__form-submit {
    cursor: pointer;
  }
}